.body{
    font-family:Arial;
}

.block{         
                margin: 100px 50px;
                background:lightblue;
}
.display{
                background-color: lightgray;
                margin-bottom: 30px;
}
.inline{
               padding: 1rem;
               background-color: aqua;
               color: blue; 
}

.inline-block{
            
                background:lightgreen;
            
}
.main{
    display: inline-block;
    background-color: antiquewhite;
    color: blue;
    margin-top: 50px;
    padding:4rem ;
}
.hidden{
           display: none;
}