.body{
    font-family:Arial;
}

.block{
                display:block;
                background:lightblue;
}

.inline{
                display:inline;
                background:pink;
}

.inline-block{
                display:inline-block;
                background:lightgreen;
                width:200px;
}

.hidden{
    display:none;
}