body {
    font-family: Arial;
    text-align:center;
    margin-top: 50px;
}

button {
    padding:8px 12px;
    margin:5px;
    cursor:pointer;
}

ul {
    list-style-type: none;
    margin-top: 20px;
}